altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
cssselect2==0.4.1
gobject==0.1.0
idna==2.10
importlib-metadata==4.0.1
inputimeout==1.0.4
lxml==4.6.3
Pillow==8.2.0
playsound==1.2.2
pyairmore==0.2.1a1
pycairo==1.20.0
PyGObject==3.40.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
reportlab==3.5.67
requests==2.25.1
svglib==1.0.1
tabulate==0.8.9
tinycss2==1.1.0
typing-extensions==3.10.0.0
urllib3==1.26.4
webencodings==0.5.1
zipp==3.4.1
